*{
    margin: 0%;
    padding: 0%;
} 
.Header{
    background-image: url("/images/header_img.jpg");
    height:656px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .navbar-nav a{
    color: white;
  }

  .navbar-brand{
    color:white;
  }