*{
    margin: 0%;
    padding: 0%;
} 
.Header{
    background-image: url("/images/header_img.jpg");
    height:656px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .navbar{
    backdrop-filter: blur(100px);
  }
  .navbar-nav a{
    color: white;
  }

  .navbar-brand{
    color:white;
  }

  .about{
    margin-top: 50px;
  }
  .about_heading{
    font-size:80px;
    color:orange;
    font-weight: bolder;
    text-align: center;
    text-shadow: 10px 5px 10px grey;
    transition: 0.3s linear;
    /* transform: translateY(-10px); */
  }

  .about_content{
    padding: 10px;
    text-align: center;
    font-size: 20px;
    background-image: url('/images/graph.png');
  }
